@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,500&display=swap");

.Login-Page {
  position: relative;
  width: 1440px;
  height: 1024px;

  background: linear-gradient(180deg, rgba(60, 71, 172, 0) 8.33%, #3705ff 100%);
}

.Login-Box {
  box-sizing: border-box;

  position: absolute;
  width: 832px;
  height: 554px;
  left: 310px;
  top: 235px;

  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 20px;
}

.Nav-Bar {
  position: absolute;
  width: 1440px;
  height: 100px;
  left: 0px;
  top: 0px;

  background: #f1f1f4;
}

.Login-Header {
  font-family: "Chakra Petch", sans-serif;
  color: #0029ff;

  mix-blend-mode: hard-light;
  -webkit-text-stroke: 2px black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Register-Form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: rgb(103, 103, 240);
  border-radius: 10px;
}

.Title {
  text-align: center;
  padding: 0 0 10px 0;
  border-bottom: 1px solid;
}

.Messages {
  text-align: center;
  padding: 0 0 20px 0;
}

.Register-Form form {
  padding: 0 115px;
  box-sizing: border-box;
}

.Register-Input {
  position: relative;
  border-bottom: 2px solid #adadaa;
  margin: 15px 0;
}

.MuiTextField-root p {
  color: red;
}

.Card {
  margin-left: 300px;
}

.img {
  width: 100%;
  height: 11rem;
}

.slider{
  position: relative;
  height: '100vh';
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 50px;
}

.image{
  width: 650px;
  height: 380px;
  border-radius: 10px;
}

.right-arrow{
  position:absolute;
  top: 50%;
  right:30px;
  font-size: 3rem;
  color:#000000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow{
  position:absolute;
  top: 50%;
  left:30px;
  font-size: 3rem;
  color:#000000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide{
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active{
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.homeLogo{
  font-family: "Chakra Petch", sans-serif;
  color: #ffffff;

  font-weight: 200;
  font-size: 40px;
  line-height: 52px;

  mix-blend-mode: hard-light;
  -webkit-text-stroke: 2px black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.modalImg{
  width: 700px;
  height: auto;
}

.modalContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContainerTop{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2196f3;
}

.recipeText{
  padding-left: 23px;
  max-width: 350px;
}

.modalPFP{
  padding-left: 15px;
}

.ingredientHeader{
  padding-left: -10px;
}

.profileBio{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-top: 10px;
}

.addRecipeImg {
  width: 110%;
  height: 50%;
  opacity: 20%;
}
